<h1>Segmenting and Clustering Neighborhoods in Toronto<h1/>

In [16]:
import pandas as pd 
import numpy as np

HTML is imoported in a notebook as a single text using request library

In [17]:
import requests

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
req = requests.get(url).text

read_html method is used which reads HTML tables into a list of DataFrame objects.

In [18]:
df = pd.read_html(req)
df = df[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Rows that contain 'Not assigned' values in the Borough column are dropped

In [19]:
indexes = df[(df['Borough'] == 'Not assigned')].index
df.drop(indexes, axis=0, inplace=True)
df.shape

(103, 3)

Checking if 'Not assigned' cells are present in the Neighbourhood column

In [20]:
df[(df['Neighbourhood'] == 'Not assigned') | (df['Neighbourhood'] == np.NaN)]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

Using geocoder library to find longitude and lattitude for each Neighbourhood.

In [21]:
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Nominatim is working properly, therefore csv file will be used

In [23]:
coord = pd.read_csv('Geospatial_Coordinates.csv')
coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Now two dataframes to be merged with Postal code used as a primary key

In [41]:
new_df = df.merge(coord, how='left', on='Postal Code')
new_df

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

In [42]:
new_df.dtypes

Postal Code       object
Borough           object
Neighbourhood     object
Latitude         float64
Longitude        float64
dtype: object